body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(91, 91, 91);
  background: linear-gradient(
    0deg,
    rgba(91, 91, 91, 1) 10%,
    rgba(173, 173, 173, 1) 90%
  );
  overscroll-behavior: contain; /* Prevent refreshing when pulling down (mobile)*/
  overflow-y: hidden;
  width: 100vw !important;
  height: 100vh !important;
  min-width: 100vw !important;
  min-height: 100vh !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  max-width: 100vw;
  width: 400px;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
}

/* ----------------------------------------------------------------------------------------------------------*/
/* Canvas
/* ----------------------------------------------------------------------------------------------------------*/
#canvas-container {
  position: absolute;
  max-width: 100vw;
  width: calc(100vw - 400px); /* 100vw - root width*/
  height: 100vh;
  right: 0;
  display: flex;
  justify-content: center;
  border: 1px solid black;
}

#canvas {
  display: inline-block;
  width: 100% !important;
  height: 100%;
}

#cube-canvas {
  position: absolute;
  height: 200px;
  width: 200px;
  right: 0px;
  z-index: 200000;
}

/* ----------------------------------------------------------------------------------------------------------*/
/* TreeViewPlugin
/* ----------------------------------------------------------------------------------------------------------*/

#tree-container {
  width: 100%;
  height: 50%;
  position: absolute;
  left: 0;
  top: 50px;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #fff;
  color: black;
  padding-top: 1rem;
  padding-left: 1rem;
}

#tree-container ul {
  list-style: none;
  padding-left: 1.5rem;
}

#tree-container ul li {
  position: relative;
}

#tree-container ul li a {
  background-color: #fff;
  color: #000;
  display: inline-block;
  height: 0.6rem;
  left: -1.2rem;
  position: absolute;
  text-align: center;
  text-decoration: none;
  width: 0.6rem;
  text-indent: -9999px;
}

#tree-container ul li a.plus {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  top: 0.5rem;
}

#tree-container ul li a.minus {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  top: 0.3rem;
}

#tree-container ul li span {
  display: inline-block;
  padding-left: 0.5rem;
}

#tree-container .highlighted-node {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  background: #e8e8ff;
  color: black;
  padding-left: 100%;
  margin-left: -100%;
}

#tree-container input[type="checkbox"] {
}

#tree-container ul li span:hover {
  color: red;
  cursor: pointer;
}

#properties-container {
  width: 100%;
  height: 50%;
  position: absolute;
  left: 0;
  top: calc(50% + 50px);
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #fff;
  color: black;
  border-top: 1px solid #ccc
}

.properties-table {
  position: absolute;
  left: 0;
}

/* Loading spinner */
.sk-fading-circle,
.sk-fading-circle > * {
  display: none !important;
  visibility: hidden;
}

.container--box {
  width: 100%;
  height: 100%;
  transition: opacity 0.1s linear 0s;
}
.container--box .box {
  width: 100%;
  height: 100%;
  display: grid;
  justify-items: center;
  align-items: center;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.8);
}
.container--box .box .spinner {
  height: 60px;
  width: 60px;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  z-index: 9000;
}

.container--box .box .spinner--3 {
  border: 5px solid rgba(0, 0, 0, 0.4);
  border-bottom-color: #fff;
  border-top-color: #fff;
  animation: spinner3 800ms ease infinite;
  z-index: 9000;
}
@keyframes spinner3 {
  to {
    transform: rotate(360deg);
  }
}

/* Navigation bar */
.nav-btn {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
}

.nav-btn svg {
  width: 100%;
  height: 100%;
}

/* Toasts */
#toast-container {
  position: fixed;
  bottom: 0;
  left: 0;
}

#toast-container .react-reveal {
  margin: 0.25rem;
}

/* Annotations */
.xeogl-annotation-pin {
  font-family: inherit;
  box-shadow: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.xeogl-annotation-label {
  box-shadow: none;
  border: none;
}

.xeogl-annotation-label::before {
  content: none;
}

/* dat.GUI */
#gui {
  position: absolute;
  top: 0;
  padding-bottom: 0;
  right: 0;
  margin: 0;
  height: 0;
}

#gui .close-button {
  display: none;
  height: 0;
}

.dg.main.taller-than-window {
  height: 100vh !important;
}

.folder-btn {
  float: right;
  padding-right: 10px;
  padding-left: 5px;
  padding-bottom: 5px;
  font-size: 15px;
  color: #d3d3d3;
}

.folder-btn:hover {
  color: white;
  text-shadow: 0px 0px 3px white;
}

.reset-btn {
  position: relative;
  left: 14px;
  top: 6px;
  font-size: 14px;
  cursor: pointer;
}

.reset-btn:hover {
  text-shadow: 0px 0px 3px #777;
}

.dg .cr.function .property-name:hover {
  background-color: #d9d9d9;
}

.property-name {
  padding-left: 3px;
}

.dg .cr {
  padding-left: 0;
}

.dg li.folder {
  border: none;
}

/* Helpers */
.not-clickable {
  pointer-events: none;
}
